@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Tailwind v4 테마 확장 */
@theme {
  --color-brand-50: #e5f7ff;
  --color-brand-100: #bdf0ff;
  --color-brand-200: #82e4ff;
  --color-brand-300: #47d8ff;
  --color-brand-400: #0fb2ff;
  --color-brand-500: #0fb2ff;
  --color-brand-600: #0097db;
  --color-brand-700: #0075a8;
  --color-brand-800: #005478;
  --color-brand-900: #00364d;

  /* Next.js가 주입한 CSS 변수를 Tailwind의 기본 font-sans로 설정 */
  --font-sans: var(--font-pretendard), ui-sans-serif, system-ui, sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    @apply font-sans antialiased;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
